@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.6;
}

nav a {
    text-decoration: none; /* Removes underline */
    color: white; /* Sets text color to black */
    padding: 10px;
    display: inline-block;
}

nav a:hover {
    color: rgb(174, 211, 240); /* Changes text color on hover */
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #1F2937;
    padding: 20px 200px 0px 200px;
}

h1 {
    font-size: 48px;
    font-weight: extra-bold;
    line-height: 1em;
}

h2 {
    font-size: 36px;
    font-weight: extra-bold;
    color: #1F2937;
}

.one {  
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    padding: 50px 200px 50px 200px;
    background-color: #1F2937;
    color: #F9FAF8;
}

.two {  
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 50px 200px 50px 200px;
    background-color: #F9FAF8;
    color: black;

}
.three {
    background-color: #E5E7EB; 
    padding: 100px 400px 100px 400px;
 }

.quote {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1F2937;
}

.list { 
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

button {
    color: white;
    font-weight: bold;
    border: none;
    background-color: #3882f6;
    border-radius: 5px;
    padding: 10px;
}

button.border {
    border: white solid;
}

footer {  
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 50px 200px 50px 200px;
}

.center-content {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Horizontally center the content */
    align-items: center;
    padding: 10px 20px 10px 20px;
}

.bluebox {
    background-color: #3882f6;
    padding: 10px;
    width: 60%;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
}

button:hover {
    background-color: #9fbef0;
}